@import url('https://fonts.googleapis.com/css2');
:root{
    --main-color: #fe043c;
    --sec-color:#35cd8c;
    --color-dark:#1d2231;
    --text-frey:#8390a2;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
header{
    position: absolute;
    left: 0;
    top: 2rem;
    right: 0;
    padding:2rem 3rem;
    z-index: 20;
}
.nav-inner,
.nav-menu ul,
.nav-menu2{
    display: flex;
    align-items: center;

}
.nav-banner{
    color: #fff;
    font-size: 2rem;
}
.nav-inner{
    justify-content: space-between;
}
.nav-menu li :last-child{
    margin-right: 0;

}
.nav-menu li{
    margin-right: 1rem;
}
.nav-menu  a{
    color: #fff;
    display: block;
    padding: .6rem 0rem;
    text-transform: uppercase;
    font-weight:500 ;
}
.nav-menu a:hover{
    color:var(--main-color);
    border-bottom: 2px solid var(--main-color);

}
.nav-menu a.active{
    color:var(--main-color);
}
.btn{
    display: block;
    padding: 1.3rem 1rem;
    border-radius: 30px;
}

.nav-menu2 a{
    display: block;
    padding: 1.3rem 1rem;
    border-radius: 30px;
    color: #fff;
    background: var(--main-color);
    transition: background-color 300ms;

}
.nav-menu2 a:hover{
    color: #fff;
    background: var(--sec-color);

}
.nav-icons{
    margin-left: 1.2rem;
    display: flex;
    justify-content: flex-end;
}
.nav-icons span{
    font-size: 2rem;
    display: inline-block;
    margin-left: 1rem;
    color: #fff;
}
.hero{
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-inner{
    text-align:center ;
    padding-top: 3rem;
    margin-bottom: 1rem;
}
.hero-inner h1{
    color: #fff;
    font-size: 4rem;
}
.hero-inner h1 span{
    color: var(--sec-color);
}
.hero-inner p{
    color: #fff;
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin-bottom: 2rem;
}
.hero-btn a.btn{
    display: inline-block;
}
.hero-btn a:first-child{ 
    color: #fff;
    background: var(--sec-color);
    margin-right: 1rem;
}
.hero-btn a:first-child:hover,
.hero-btn a:last-child:hover{ 
    background: var(--main-color);
}
.hero-btn a:last-child{ 
    color: #fff;
    border:2px solid #fff;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}
.hero-btn a:last-child:hover{
    border: none;
}
.recipes{
    padding: 5rem 0rem 2rem 0rem;
    background: #fff;
   
}
.recipe{
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-gap: 4rem;
    margin-bottom: 3.5rem;
}
.recipe-img{
    border-radius: 4px;
    overflow: hidden;
}
.recipe-desc{
    display: flex;
    align-items: center;
    padding-left: 1.3rem;
}
.recipe-banner {
    color:var(--sec-color);
    font-weight: 500;
}
.recipe-desc span small {
    color:var(--text-color);
}
.recipe-desc h3 {
    color:var(--text-color);
    margin: 1.5rem 0rem;
    text-transform: uppercase;
    
}
.recipe-desc p {
    color:#666;
    text-align: justify;
    margin-bottom: 1.5rem;
    
}

.recipe-desc a {
    background:var(--sec-color) ;
    color:#fff;
    display: inline-block;
    transition: background 500ms;
    
}
.recipe-desc a:hover{
    background:var(--main-color) ;
}
.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.form{
    padding: 4rem 5rem 4rem 9rem;
    background: #282528;
}
.form h1{
    color: #fff;
    font-size: 2.7rem;
    margin-bottom: 2rem;
}
input,textarea{
    display: block;
    border: none;
    border-bottom: 1px solid var(--text-color);
    background: transparent;
    height: 55px;
    font-size: 1.2rem;
    width: 100%;
    margin-bottom: 3rem;
    padding-bottom:10px ;
    font-weight: 500;
} 

.form button{
    display: inline-block;
    margin-top: 1.5rem;
    background: var(--sec-color);
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.form button:hover{
    background: var(--main-color);
}
.info{
    background: #fff5ec;
    padding: 4rem;
}
.info-inner{
    width:80%;
    margin: auto;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 4rem;
}
.info-inner > div h3 {
    text-align: center;
    color: var(--main-color);
    margin-bottom: 1rem;
}
.info-inner > div small {
   font-size :1.1rem; ;
   display: block;
   line-height: 1.8rem;
}
footer{
    text-align: center;
    color: #fff;;
    padding: 3rem 0rem;
    background: var(--main-color);
}
footer small{
    display: inline-block;
    margin-bottom: .6rem;
}
.footer-icons span {
    font-size: 2rem;
    display: inline-block;
    margin-right: 1rem;
}
.sticky{
    background: #fff;
    position: fixed;
    top: 0;
    
}
.sticky h2{
    color: var(--main-color);
}